@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap'); /*메인 제목  font-family: 'Chewy', cursive;*/
@font-face { /*설명 주아체*/
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 초기화 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333
}
body{
  background: url(../img/sub01_bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
p{
  font-family: 'Pretendard-Regular';
  color: #939393;
}
.wrap{

}

h3{
  font-family: 'BMJUA';
}
/* header */
header{
  height: 180px;
  background-color: #FBF4E5;
  border-radius:0 0 50% 50%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;
}
header .logo{
align-self: center;
margin-bottom: 20px;
}
.icon input{
  font-size: 12px;
  padding: 10px;
  border: none;
  display: none;
}

input:focus{
  outline: none;
}
header .nav{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}
header .icon{
  display: flex;
  justify-content: end;
  margin-right: 50px;
}
header .icon a{
  margin-left: 30px;
}
.menu>ul{
  display: flex;
  position: relative;
}
.menu>ul>li{
  margin-top: 40px;
  width: 150px;
  text-align: center;
}
.menu>ul>li>a{
  font-weight: bold;
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  transition: .3s;
  display: block;
  padding: 10px 0;
}
.menu>ul>li>a:hover{
  color: rgb(160, 201, 255);
}
.inner_mega_menu p:hover{
  color: rgb(160, 201, 255);
}
.mega_menu{
  position: absolute;
  top: 75px;
  left: 20px;
  width: 740px;
  height: 230px;
  background-color: #FBF4E5;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0 0 10% 10%;
  display: none;

}
.inner_mega_menu{
  width: 20%;
  float: left;
}
.inner_mega_menu a{
  display: block;
  margin-right: 20px;
}
.inner_mega_menu p{
  padding: 10px 5px;
  font-weight: bold;
  font-family: 'Pretendard-Regular';
  color: #555;
  transform: 0.3s;
  font-size: 18px;
}
.icon{
  margin-top: 20px;
}
.icon a{
  transition: .5s;
}
.icon a:hover{
  filter: invert(67%) sepia(17%) saturate(6709%) hue-rotate(206deg) brightness(106%) contrast(99%);
}

/* main_section */
.main_section{
height: 3000px;
display: flex;
flex-direction: column;
align-items: center;
}
.main_section>div{
  width: 1400px;
  height: 1000px;
}
.text_box{
  width: 50%;
  height: 40%;;
}
.text_box h2{
  font-size: 50px;
  font-family: 'BMJUA';
  color: #fff;
  margin-bottom: 30px;
}
.text_box p{
  font-size: 25px;
  font-family: 'BMJUA';
  color: #fff;
}

/* fresh */
.fresh{
  display: flex;
  opacity: 0;
}
.fresh .text_box{
  transform: translateY(40%);
}
.fresh .img_box{
  margin-top: 50px;
}

/* clean */
.clean{
  display: flex;
  opacity: 0;
}
.clean .text_box{
  transform: translate(50%, 30%);

}
.clean .img_box{
  
}
/* health */
.health{
  display: flex;
  opacity: 0;
}
.health .text_box{
  transform: translate(10%, 30%);

}
.clean .img_box{
  
}
/* footer*/
footer{
  width: 100%;
  height: 200px;
  background-color: #C9EFB9;
  border-radius: 30% 30%  0 0;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
z-index: 10;
}
footer .logo{
  flex: 1;
display: flex;
justify-content: center;
align-items: center;
height: 100px;
}
footer .logo a:hover{
  animation: logo 3s infinite;
}
@keyframes logo{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(10deg);
  }
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-10deg);
  }
}
footer .logo img{
  width: 50%;
  margin-left: 30px;
}
footer .copy{
  flex: 2;
  text-align: center;
}
footer .copy h5{
  color: #595959;
  font-family: 'BMJUA';
  line-height: 1.2;
  font-size: 20px;
}
footer .sns{
  flex: 1;
}

.sns ul{
  display: flex;
  flex-direction: row;
}
.sns ul li{
  padding: 0 10px;
  position: relative;
}
.sns ul li:nth-child(1)::before{
  content: url(../img/snsbefore.png);
  position: absolute;
  left: 25px;
  top: -30px;
 opacity: 0;
 transition: 0.5s;
}
.sns ul li:nth-child(1):hover::before{
  opacity: 1;
}

.sns ul li:nth-child(2)::before{
  content: url(../img/snsbefore02.png);
  position: absolute;
  left: 25px;
  top: -30px;
 opacity: 0;
 transition: 0.5s;
}
.sns ul li:nth-child(2):hover::before{
  opacity: 1;
}
.sns ul li:nth-child(3)::before{
  content: url(../img/snsbefore03.png);
  position: absolute;
  left: 25px;
  top: -30px;
 opacity: 0;
 transition: 0.5s;
}
.sns ul li:nth-child(3):hover::before{
  opacity: 1;
}

/* top_btn */
#top_btn{
  position: fixed;
  bottom: 40px;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 10;
}
#top_btn img{
  width: 70%;
}

/* modal */
.modal{
  width: 100%;
  height: 736%;
  background-color: #494949ab;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.modal_inner{
  width: 40%;
  height: 12%;
  background-color: #fff;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  background: url(../img/modal.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.modal_inner h1{
  text-align: center;
  margin-top: 20px;
  color: #666;
}
form{
  width: 50%;
  height: 80%;
  margin: 0 auto;
  position: relative;
}
.email{
  margin-top: 80px;
}
.box input{
width: 100%;
height: 50px;
border: none;
border-bottom: 2px solid pink;
margin-bottom: 10px;
}
.box span{
  position: absolute;
  left: 0;
  transition: .3s;
  color: #666
}
.email span{
  top: 20px;
}
.password span{
  top: 75px;
}
.email input:focus ~ label span{
  font-size: 12px;
  top: -5px;
  color: pink;
}
.password input:focus ~ label span{
  font-size: 12px;
  top: 50px;
  color: pink;
}

#login_btn{
  width: 170px;
  height: 50px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 700;
  float: left;
  margin-left: 10px;
  border: none;
  background-color: pink;
  color: #fff;
  cursor: pointer;
}
